{{#section 'css'}}
<link rel="stylesheet" href="css/personal.css"> {{/section}}

<section>
    <div class="container">
        <h2 class="text-center">帳號管理</h2>
        <form>
            <label>帳號</label>
            <input type="text" name="ID" value="{{ID}}" readonly>

            <label>姓名</label>
            <input type="text" name="name" value="{{name}}" readonly>

            <label>身分證字號</label>
            <input type="text" name="identity" value="{{identity}}" readonly>

            <label>電子郵件</label>
            <input type="email" name="email" value="{{email}}">

            <label>行動電話</label>
            <input type="text" name="phone" value="{{phone}}">

            <label>住址</label>
            <input type="text" name="address" value="{{address}}">

            <label>以太坊帳戶</label>
            <input type="text" name="account" value="{{account}}">

            <label></label>
            <input type="submit">
            <input type="reset">
        </form>
    </div>
</section>

{{#section 'script'}}
<script src="js/personal.js"></script> {{/section}}